# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development settings
instance/

# Environment variables
.env

# Database
*.db

# Compiled source files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sql
*.sqlite

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.pyc
*.pyo
*.pyd

# Dependency directories
venv/
env/
